body{
  margin: 0;
  font-family: monospace;
}

nav{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

nav > a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(38, 38, 38);
  padding: 3%;
  transition: 0.3s;
}

nav > a:hover{
  color:rgb(191, 83, 37);
  border-bottom: inset 3px rgb(191, 83, 37);
  transition: 0.3s;
}