.informacionAyuntamiento{

  background-color: aliceblue;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;

  border-style: solid;
  border-color: rgb(61, 61, 94);
  border-width: 2px;

  & .informacion{
    padding-top: 10px;
  }

  & header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & img{
      width: 50px;
      height: auto;
      border-radius: 100%;
    }
  }
  
}